.bar
    rect
        fill: steelblue
        .negative&
            fill: orange
    &:hover
        rect
            fill: brown
    .y-label
        font: 10px sans-serif
        .positive&
            text-anchor: end
        .negative&
            text-anchor: start

.axis
    font: 10px sans-serif
    line
        fill: none
        stroke: #000
        shape-rendering: crispEdges
    path
        display: none